@import '/src/sass';

.group-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    &__label {
        font-weight: 400;
        color: inherit;
        font-size: 1rem;
        &::after {
            content: ':';
        }
    }

    &__error-message {
        color: get-color(red, light);
    }
}
