.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    &__row {
        display: flex;
        gap: 2rem;
    }
}

