.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__row {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 2rem;
    }
}

