@import '/src/sass/';

.container {
    flex: 1;
    background-color: get-color(primary, light);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.game-title {
    margin-bottom: 1rem;
}

.panel {
    flex: 1;
}
